

html, body {
	height: 100%;
	width: 100%;
	margin-top: 20px;
}

form { 
//margin: 0 auto;
float: left; 
width:450px;
background-color: forestgreen;
border: 1px solid green;
}

table {
    //margin: 0 auto;
	background: white repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #454545;
}
#head2 {
	text-align:center;
	color: red;  	
}

body {
	margin: 0;
	padding: 0;
	/*background: #055657 url(../images/bg01.png) repeat;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a {
	color: #A1D784;
}

a:hover {
	text-decoration: green;
}

a img {
	border: none;
}
#login {
	float: right;
	margin-top: 20px;
	margin-left:none;
	margin-right:none;
}
#login a {
	margin: 5px;
	/*float: right;*/
	color: black;
	z-index:1;
}
#fowl {
	 width:100%;
    margin-top: 20px;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

.center-text {
	text-align:center;
}

/** WRAPPER */

#wrapper {
	width: 1700px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/* Logo */

#logo {
	width: 960px;
	height: 120px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

//#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 5em;
	color: #1F1F1F;
}

//#logo h1 span {
	//color: #1F1F1F;
}

//#logo p {
	text-align: center;
	font-size: 16px;
	//color: #595959;
}

//#logo p a {
	color: #595959;
}

//#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #1F1F1F;
}

/** MENU */
#menu {
	margin-top: 40px;
	/*overflow: hidden;*/
	width: 1200px;
	height: 60px;
	background: #A1D784;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	height: 70px;
	padding: 0px 40px 0px 40px;
	text-decoration: none;
	line-height: 70px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	border: none;
}

.floatdiv{
	float:left;
	width:400px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:30px;
	align-content:center;
	display:flex;
	flex:1;
	flex-direction: column;
	flex-basis:auto;
}


#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}

/* Footer */
footer {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0 15px 0;
}

footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #57ADAE;
}

footer a {
	color: #57ADAE;
}